{% extends 'base.html'  %}
{% block content %}

    <div id="wrapper">




        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h1>About me
                                        </h1>
                                    <p>I’m Htetaungkyaw, a web developer who focuses on telling my clients’ stories visually, through enjoyable and meaningful experiences. I specialize in responsive websites and dynamic websites. Over the past 2 years I have been studying in web development courses and rising startups as a developer , working solo and working own projects . In my spare time I enjoy coding and playing soccer.</p>
                                </div>
                            </div><!-- end row -->

                            <hr class="invis">


                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>



        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->

{% endblock %}