{% extends 'base.html'  %}
{% block content %}

    <div id="wrapper">



 
        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h1>Contact Me
                                        Have questions? I have answers.</h1>
                                    <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                                </div>
                            </div><!-- end row -->

                            <hr class="invis">

                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <form class="form-wrapper" >
                                        <input type="text" class="form-control" placeholder="Your name" name="name">
                                        <input type="text" class="form-control" placeholder="Email address" name="email">
                                        <input type="text" class="form-control" placeholder="Subject" name="subject">
                                        <textarea class="form-control" placeholder="Your message" name="text"></textarea>
                                        <button type="submit" class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>



        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->

{% endblock %}